
.logo-container {
    position: absolute;
    top: 2rem;
    left: 7rem;
    display: flex;
    gap: 0.5rem;
  }
  
  .logo {
    height: 200px;
    width: auto;
    filter: drop-shadow(0 0 10px rgba(208, 170, 218, 0.5)); 
  }
  
  
  .logo:hover {
    filter: drop-shadow(0 0 50px rgba(207, 183, 207, 0.7)); 
  }