.player-cards-container {
  position: relative; 
  display: flex;
  gap: 0;  
  z-index: 5;
}

.player-cards-container img {
  position: absolute; 
  width: 60px;
  height: auto;
  display: block;
  
}
.player-number {
  display: none;
}
