.menu-icons {
  position: absolute;
  top: 6vh;
  right: 5vw;
  display: flex;
  gap: 0.5rem;
  z-index: 10;
}
  
  .icon-box {
    background: rgba(230, 202, 238, 0.2);
    border-radius: 0.5rem;
    padding: 0.6rem;
    color: white;
    cursor: pointer;
    backdrop-filter: blur(6px);
    transition: background 0.3s;
  }
  
  .icon-box:hover {
    background: rgba(255, 255, 255, 0.4);
  }
  @media (max-width: 768px) {
    .menu-icons {
        top: 4vh;
        right: 2vw;
        gap: 0.3rem;
    }
}