.poker-table-container {
  position: relative;
  background: linear-gradient(to bottom right, rgba(41, 3, 44, 0.6), rgba(221, 165, 233, 0.8)); 
  border-radius: 5rem;
  width: 85vw;      
  height: 840px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  margin: 0 auto;
  margin-top: 2vh;
  z-index: 1;
  aspect-ratio: 2 / 1;
  outline: 2px solid rgb(173, 132, 171);
}
  
.poker-table {
  backdrop-filter: blur(12px);  
  background: rgba(48, 26, 53, 0.4);
  border: 45px solid #b75edaa4;
  border-radius: 50rem;
  width: 90%;
  max-width: 1100px;
  height: 75%;
  max-height: 600px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  outline: 2px solid rgb(216, 148, 210);
  position: relative; 
  z-index: -1;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 120px;
}



@media (max-width: 1024px) {
  .poker-table-container {
    padding: 2rem;
    width: 90vw;
    height: 700px;
  }
  .poker-table {
    width: 85%;
    height: 70%;
    max-height: 500px;
  }
  .contador-container {
    bottom: 8rem;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .poker-table-container {
    aspect-ratio: 3 / 2;
    padding: 1rem;
  }

  .poker-table {
    border-width: 30px;
  }

  .top-row,
  .middle-row,
  .bottom-row {
    flex-direction: column;
    align-items: center;
    z-index: 10;
  }

  .contador-container {
    bottom: 5rem;
    font-size: 18px;
  }

}

.turn-container{
  position: absolute;
  bottom: 55px;
  left: 76%;  
  padding: 10px 20px;  
  color: white;
  z-index: 10;
  
}
.player-cards-container {
  position: absolute;
  display: flex;
  z-index: 5;
  padding: 0;  
  transform: translate(-50%, -50%);
  gap: 2px; 
}

.player-cards-container img {
  width: 70px;
  height: auto;
  display: block;
}